<header>
	<nav>
		<ul>
			<li><a href='/about'>About</a></li>
			<li><a href='/signup'>Sign Up</a></li>
		</ul>
	</nav>
</header>

<h1>Movie Lists</h1>
<h3>Sign in Here</h3>
<form action='/login' method='post' autocomplete='off'>
	<input type='text' name='username' placeholder='Username'>
	<input type='password' name='password' placeholder='Password'>
	<input type='submit' value='Login'>
</form>