<header>
	<nav>
		<ul>
			<li><a href='/'>Home</a></li>
			<li><a href='/login'>Login</a></li>
		</ul>
	</nav>
</header>
<div id='heading'>
<h1>Movie Lists</h1>
</div>
<p></p>
<h3 class='head'>Sign Up</h3>

<form action='/signup' method='post' autocomplete='off'>
	<input type='text' name='username' placeholder='Username'>
	<input type='text' name='password' placeholder='Password'>
	<input type='text' name='confirm' placeholder='Confirm Password'>
	<input type='submit' value='Create New Account'>
</form>