#title{
	font-family: sans-serif;
	color: #0088ff;
	padding-top: 15px;
}
body p{
	width: 100%;
}
#result{
	text-align: center;
	background-color: #ffffff;
	display: none;
}
#result p{
	color: cyan;
}
.suggestions{
	width: 30%;
	border-style: solid;
	border-width: 5px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.suggestions:hover{
	background-color: #46f;
	cursor: pointer;
}